html {
    font-size: 22px;
}

body {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    padding: 1rem;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
}

caption, th, td {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem;
    border-collapse: separate;
}