html {
    border: 2px solid green;
}
body {
    border: 2px solid blue;
    background-color: #333;
    color: whitesmoke;
    
}
.outer {
    display: flow-root;
    width: 50px;
    min-height: 100px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: red;
}
.inner {
    background-color: yellow;
    float: left;
    width: 25px;
    min-height: 25px;
    margin-top: 3rem;
    margin-bottom: 20rem;
    padding: 0.5rem;
}