html {
    border: 2px solid green;
}
body {
    border: 2px solid blue;
}
.outer {
    width: 50px;
    height: 100px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: red;
}
.inner {
    background-color: yellow;
    width: 25px;
    height: 25px;
    margin-top: 1rem;
    margin-bottom: 20rem;
    padding: 0.5rem;
}